@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");
@import "tailwindcss";
@config "../tailwind.config.ts";

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

/* Hide sf grid cell focus outline */
.e-grid td.e-rowcell.e-focus.e-focused {
  box-shadow: none !important;
}

.e-grid td.e-groupcaption .e-focus.e-focused {
  box-shadow: none !important;
}

.e-grid th.e-headercell.e-focus.e-focused {
  box-shadow: none !important;
}

@tailwind utilities;
